body {
  background-color: black;
}
.jumbotron {
  background-color: yellow;
  border-radius: 60px;
}
#fact-cards .card {
  background-color: yellow;
  border-radius: 40px;
  padding: 20px;
  height: 100%;
}
#inst-list li {
  list-style: none;
}
#inst-list li::before {
  content: "🎵 ";
}
.row {
  margin: 40px
}
.card h2 {
  font-family: 'Homemade Apple', cursive;
  font-size: 120%;
  text-align: center;
  padding-top: 10px;
}
h1.hedd {
  text-align: center;
  font-size: 500%;
  font-family: 'Homemade Apple', cursive;
}
#sing {
  text-align: center;
}
.list {
  padding-left: 10%
}
.info {
  font-family: monospace;
  font-size: 120%;
  padding-left: 20%;
}
.bio {
  color: yellow;
  font-size: 130%;
  font-weight:lighter;
}
.bio img {
  float: left;
  margin-right: 30px;
  border-radius: 60px;
}
#bio-header {
    text-align: center;
    font-family: 'Homemade Apple', cursive;
    padding-bottom: 20px;
  }
#proj-header {
    text-align: center;
    font-family: 'Homemade Apple', cursive;
    padding-bottom: 20px;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.greeting {
  font-size: 120%;
  color: white;
  font-weight: lighter;
  font-family: 'Homemade Apple', cursive;
  padding-right: 10px;
}
@media only screen and (max-width: 720px) {
  .row {
    margin-top: 50px;
  }
  #proj-head {
    padding-top: 40px;
  }
}
