body {
  background-color: black;
}
.jumbotron {
  background-color: yellow;
  border-radius: 60px;
}
#fact-cards .card {
  background-color: yellow;
  border-radius: 40px;
  padding: 20px;
  height: 100%;
}
#inst-list li {
  list-style: none;
}
#inst-list li::before {
  content: "🎵 ";
}
.row {
  margin: 40px
}
.card h2 {
  font-family: 'Homemade Apple', cursive;
  font-size: 120%;
  text-align: center;
  padding-top: 10px;
}
h1.hedd {
  text-align: center;
  font-size: 500%;
  font-family: 'Homemade Apple', cursive;
}
#sing {
  text-align: center;
}
.list {
  padding-left: 10%
}
.info {
  font-family: monospace;
  font-size: 120%;
  padding-left: 20%;
}
.bio {
  color: yellow;
}
.bio img {
  float: left;
  margin-right: 30px;
  border-radius: 60px;
}
@media only screen and (max-width: 720px) {
  .row {
    margin-top: 20px;
  }
  .card {
    margin: 40px;
    border-radius: 0px;
  }
}
#bio-header {
    text-align: center;
    font-family: 'Homemade Apple', cursive;
    padding-bottom: 20px;
  }
#proj-header {
    text-align: center;
    font-family: 'Homemade Apple', cursive;
    padding-bottom: 20px;
}
#lynx li {
  font-size: 150%;
  margin-left: 40%
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
